body{

    margin: 0;
    background-color: rgb(0, 0, 0);
}

#navBar{

    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.85);
}

#navBar > #nbName{

    font-family: 'Montserrat', sans-serif;
    font-size: 2.75vh;
    color: white;
    text-align: center;
    line-height: 5vh;
}

#navBar > #nbInstaLogo{

    position: relative;
    top: -4.25vh;
    width: 3.5vh;
    height: 3.5vh;
    margin: 0vh 1.25vh 0vh auto;
    background-image: url(./imagesStefania/instaLogo2white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#navBar > #nbHomeLogo{

    opacity: 0;
    position: relative;
    top: -7.75vh;
    width: 3.5vh;
    height: 3.5vh;
    margin: 0vh auto 0vh 1vh;
    background-image: url(./imagesStefania/homeLogo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 1s linear;
}

#topBackground{

    width: 100vw;
    height: 100vh;
    background-image: url(./imagesStefania/audi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#topBackground > #tbContent{

    position: relative;
    width: 100vw;
    height: 85vh;
}

#tbContent > #tbcText{

    position: relative;
    top: 32vh;
}

#tbcText > #tbctTitle{

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 5vh;
    text-align: center;
    line-height: 85%;
}

#tbcText > #tbctContent{

    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    text-align: center;
    margin-top: 1vh;
}

#tbContent > #tbcArrow{

    opacity: 0;
    position: relative;
    top: 75vh;
    z-index: 10;
    width: 10vw;
    height: 10vw;
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: auto;
    background-image: url(./imagesStefania/arrowDown.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 1s ease;
    animation: arrowAnimation 2.5s ease 2s infinite;
}

@keyframes arrowAnimation {
    
    16.66%{ transform: scale(1.25); }
    33.32%{ transform: scale(1); }
    49.98%{ transform: scale(1.20); }
    66.64%{ transform: scale(1); }
}

#topBackground > #tbBottomGradient{

    position: relative;
    width: 100vw;
    height: 15vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#secondPage{

    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid black; /* TRE SA VAD CU ASTA */
}

#spPhotoAndText{

    opacity: 0;
    display: flex;
    box-sizing: border-box;
    /* border: 1px solid red; */
    transition: opacity 2s linear;
}

#spPhotoAndText > #spPhoto{

    width: 40vw;
    height: 25vh;
    /* border: 1px solid black; */
    margin: 12.5vh auto 7.5vh 2.5vh;
    background-image: url(./imagesStefania/stefania2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1); */
}

#spPhoto > #sppTopGradient{

    position: relative;
    top: 0vh;
    width: 40vw;
    height: 1vh;
    /* box-sizing: border-box;
    border: 1px solid red; */
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#spPhoto > #sppBottomGradient{

    position: relative;
    top: 23vh;
    width: 40vw;
    height: 1vh;
    /* box-sizing: border-box;
    border: 1px solid red; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#spPhoto > #sppLeftGradient{

    position: relative;
    top: -2vh;
    width: 2.5vw;
    height: 25vh;
    /* box-sizing: border-box;
    border: 1px solid red; */
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#spPhoto > #sppRightGradient{

    position: relative;
    top: -27vh;
    left: 37.5vw;
    width: 2.5vw;
    height: 25vh;
    /* box-sizing: border-box;
    border: 1px solid red; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#spPhotoAndText > #spText{

    display: flex;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    /* text-align: left; */
    width: 45vw;
    height: 25vh;
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* padding: 0.5vw; */
    margin: 12.5vh 2.5vh 7.5vh auto;
}